In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
filename = 'music.csv'
data = read_csv(filename)
data.head(10)

   age  gender      genre
0   20       1     HipHop
1   23       1     HipHop
2   25       1     HipHop
3   26       1       Jazz
4   29       1       Jazz
5   30       1       Jazz
6   31       1  Classical
7   33       1  Classical
8   37       1  Classical
9   20       0      Dance

In [3]:
data.dtypes

age        int64
gender     int64
genre     object
dtype: object

In [4]:
data.genre.unique

<bound method Series.unique of 0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object>

In [5]:
data.genre.replace({'HipHop':0,'Jazz':1, 'Classical':2, 'Dance':3, 'Acoustic':4},inplace=True)

In [6]:
data.head(10)

   age  gender  genre
0   20       1      0
1   23       1      0
2   25       1      0
3   26       1      1
4   29       1      1
5   30       1      1
6   31       1      2
7   33       1      2
8   37       1      2
9   20       0      3

In [7]:
data.dtypes

age       int64
gender    int64
genre     int64
dtype: object

In [8]:
df_x = data[['age','gender']]
df_y = data['genre']

In [9]:
df_x.head(10)

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1
5   30       1
6   31       1
7   33       1
8   37       1
9   20       0

In [10]:
df_y.head(10)

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
Name: genre, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.3, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier()
clf2.fit(X_train, y_train)
print("")
print("Classifier Accuracy")
clf2.score(X_test, y_test)

Classifier Accuracy

0.8333333333333334

In [15]:
import joblib as joblib
joblib.dump(clf2, 'forest.pkl')
print("Model Dumped In The Disk")
model = joblib.load('forest.pkl')
print("Model Loaded From Disk")

Model Dumped In The Disk
Model Loaded From Disk

In [17]:
results = model.predict([[31,0]])
print(results[0])

2

C:\Users\harman\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(